wheel
fastapi[all]
uvicorn[standard]
greenlet

openai
tiktoken
tenacity
numpy

pydantic_settings
pydantic
pydantic-core
python-json-logger

openai
sentence_transformers
requests

torch
transformers
faiss-cpu
tqdm
umap
